/* Error Page Style */
.error-page-body{
    font-family: 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f8f9fa;
    text-align: center;
    padding: 50px;
    color: #333;
    margin:0;
}
/* Error Container */
.error-page-container{
    max-width: 600px;
    margin: auto;
}
/* Error Heading */
.error-page-title{
    font-size: 100px;
    color: #ff4b4b;
    margin-bottom: 10px;
}
/* Error Description text */
.error-page-message{
    font-size: 20px;
    margin-bottom: 30px;
}
/* Error Button Link */
.error-page-button{
    text-decoration: none;
    color: white;
    background-color: #ff4b4b;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.2s ease;
}
/* Error Button Hover */
.error-page-button:hover{
    background: #e04343;
    transform: scale(1.05); /*Added subtle Animation*/
}
