/* Error page Style */
.error-section{
    text-align: center;
    padding: 60px 20px;
}
.error-section h2{
    font-size: 30px;
    margin-bottom: 15px;
    color: #dc3545;
}
.error-section p{
    font-size: 18px;
    margin-bottom: 25px;
}
/* button Styles */
.error-section .btn{
    background: #007bff;
}
/* hover effect */
.error-section .btn:hover{
    background: #0056b3;
}