<nav aria-label="breadcrumb">
    <ol>
        <li class="breadcrumb-item">
            <a href="{% url 'home' %}">Home</a>
        </li>
        {% if breadcrumb %}
            {% for crumb in breadcrumb %}
                {% if forloop.last %}
                    <li class="breadcrumb-list active" aria-current="page" >
                        &nbsp;>&nbsp;{{crumb.name}}
                    </li>
                {% else %}
                    <li class="breadcrumb-item">
                        &nbsp;>&nbsp;<a href="{{crumb.url}}">{{crumb.name}}</a>
                    </li>
                {% endif %}
            {% endfor %}
        {% endif %}
    </ol>
</nav>