{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>404 - Page Not Found</title>
        <link rel="stylesheet" href="{% static 'css/error.css' %}">
    </head>
    <body class="error-page-body">
        <div class="error-page-container">
            <h1 class="error-page-title">404</h1>
            <p class="error-page-message">Oops! The page you'r looking for does not exists.</p>
            <a href="/" class="error-page-button">Go Back Home</a>
        </div>
    </body>
</html>
