{% extends 'base.html' %}

{% block title %} About us - Restaurant Management {% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/about.css' %}">
{% endblock %}

{% block content %}
{% include  'includes/breadcrumbs.html' %}
<section class="about-section">
    <h2>About us</h2>
    <p>{{restaurant.description}}</p>
    {% if restaurant_image %}
        <img src="{{restaurant_image}}" alt="Restaurant" class="about-image">
    {% else %}
        <p>No image available.</p>
    {% endif %}

    <!-- Extra details -->
    <div class="about-content">
        <div class="history">
            <h3>History</h3>
            <p>
                Established in 2005, our restaurant started as a family-owned eatery.
                Through passion and dedication, we've grown into a placed loved by the community.
            </p>
        </div>
    </div>
</section>
{% endblock %}
