<!-- contact.html -->
{% extends 'base.html' %}

{% block title %} Contact us - Restaurant Management {% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/contact.css' %}">
{% endblock %}

{% block content %}
<section class="contact-section">
    <h2>Contact Form</h2>
    <p>We had love to hear from you! Reach out to us through the details below: </p>
    <div class="contact-info">
        <p><strong>Address : </strong>123 Main Street, Chennai, India</p>
        <p><strong>Phone : </strong> {{restaurant_phone}}</p>
        <p><strong>Email : </strong> contact@restaurant.com</p>
    </div>

    <form id="contactForm" method="post">
        {% csrf_token %}
        <label for="name">Name : </label>
        <input type="text" id="name" name="name" placeholder="your name" required>

        <label for="email">Email : </label>
        <input type="email" id="email" name="email" placeholder="your mail" required>

        <label for="message">Message : </label>
        <textarea id="message" name="message" placeholder="Your name"></textarea>

        <button type="submit">Send Message</button>
    </form>
</section>
{% endblock %}
