{% extends 'base.html' %}

{% block title %} Menu - Restaurant Management {% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/menu.css' %}">
{% endblock %}

{% block content %}
<div class="menu-container">
    <h2 class="menu-title">Our Menu</h2>
    {% if menu_items %}
        <ul class="menu-list">
            {% for item in menu_items %}
                <li class="menu-item">
                    {% if item.image %}
                        <img src="{{item.image.url}}" alt="{{item.name}}" class="menu-item-img" >
                    {% endif %}
                    <div class="menu-item-details">
                        <strong>{{item.name}}</strong> - {{item.price}}
                        <p>{{item.description}}</p>

                        <a href="{% url 'add_to_cart' item.id %}" class="btn-add-cart">Add to Cart</a>
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p class="no-items">No menu items are available at the moment.</p>
    {% endif %}
</div>
{% endblock %}