{% extends 'base.html' %}
{% load static %}
{% load menu_filters %} 

{% block title %} Menu - Restaurant Management {% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/menu.css' %}">
{% endblock %}

{% block content %}
<div class="menu-container">
    <h2 class="menu-title">Our Menu</h2>

    <!-- Search Bar -->
    <form method="get" action="" class="search-form">
        <input type="text" name="q" placeholder="Search menu items..." value="{{query}}" class="search-input">
        <button type="submit" class="search-button">Search</button>
    </form>
    {% if query %}
        <p>Showing results for : <strong>{{query}}</strong></p>
    {% endif %}
    {% if menu_items %}
        <ul class="menu-list">
            {% for item in menu_items %}
                <li class="menu-item">
                    {% if item.image %}
                        <img src="{{item.image.url}}" alt="{{item.name}}" class="menu-item-img" >
                    {% endif %}
                    <div class="menu-item-details">
                        <strong>{{item.name}}</strong> - {{item.price}}
                        <!-- Availability using custom filters -->
                        <span class="availability">{{item.available|availability_status}}</span>

                        <p>{{item.description}}</p>

                        <!-- Buttom Condition -->
                        {% if item.available %}
                            <a href="{% url 'add_to_cart' item.id %}" class="btn-add-cart">Add to Cart</a>
                        {% else %}
                            <span class="btn-disable">Coming Soon</span>
                        {% endif %}
                    </div>
                </li>
            {% endfor %}
        </ul>

        <!-- pagination -->
        <div class="pagination">
            {% if page_obj.has_previous %}
                <a href="?q={{query}}&page={{page_obj.previous_page_number}}">Previous</a>
            {% endif %}

            {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                    <span class="active">{{num}}</span>
                {% else %}
                    <a href="?q={{query}}&page={{num}}">{{num}}</a>
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
                <a href="?q={{query}}&page={{page_obj.next_page_number}}">Next</a>
            {% endif %}
        </div> 
    {% else %}
        <p class="no-items">No menu items are available at the moment.</p>
    {% endif %}
</div>
{% endblock %}