{% extends 'base.html' %}

{% block title %} Our Story {% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/our_story.css' %}">
{% endblock %}

{% block content %}
<div class="our-story-container">
    <h2>Our Story</h2>
    <p>Welcome to oru restaurant! Our Story began with a passion for authentic flavours and a dream to create a place where people could enjoy fresh, delicious meals in warm and friendly atmosphere.</p>
    <p>From humble beginnings to becoming a flavorite spot in community.</p>
</div>
{% endblock %}